//colors
$orange: #fc5200;
$darker-orange: #fa5201;

$link-blue: #00ace6;
$dark-link-blue: #007FB6;

$background-white: #f7f7fa;
$lightest-gray: #f7f7f5; 
$lighter-gray: #F5F5FA;
$light-gray: #dedee1;
$gray: #999;
$dark-gray: #6f6f6f;

$text-black: #242428;

//fonts
$logo-font: 'Kanit', sans-serif;