.links-sidebar-container {
    width: 28%;
    margin-right: 1%;
    padding: 0px 16px;
}

.links-card {
    padding-top: 28px;
    margin: 76px 0 12px 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 8px 24px rgba(1, 1, 15, 0.04);
}