
.challenge-sidebar-container {
    width: 24%;
    margin: 76px 0 0 0;
}

.challenge {
    border-bottom: 1px solid $lightest-gray;
    display: flex;
    flex-flow: row;
    padding: 1rem 1rem 1.5rem 1rem;
}

.challenge i {
    padding-top: 0.25rem;
    font-size: 1.5rem;
}

.challenge-content {
    display: flex;
    flex-flow: column;
    padding-left: 1rem;
}

.challenge-header {
    margin: 0 0 0.5rem 0;
}

.challenge-content p {
    font-size: 12px;
}