.routes-page-container {
    height: 100vh;
    margin: 0 auto;
    padding: 2rem;
    max-width: 1200px;
}

.route-index-title {
    font-weight: bold;
    font-size: 2rem;
    color: $text-black;
    text-align: left;
    margin-bottom: 1.5rem;
}

.ri-create-route-button {
    background-color: rgba(252,82,0,1);
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    padding: 6px 6px;
    width: 10rem;
    margin-bottom: 2.5rem;

    &:hover {
        background-color: $darkest-orange;
    } 
}

.routes-page-header {
    min-height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 1px solid $light-gray;
}

.ri-toggle-wrapper {
    max-width: 9rem;
    border: 1px solid $light-gray;
    margin: 1.5rem 0;
    box-sizing: border-box;
}

.ri-toggle-ride, .ri-toggle-run {
    background-color: rgba(255,255,255,0.95);
    text-align: center;
    font-size: 14px;
    color: #333333;
    padding: 6px 10px;
    width: 50%;
}

.ri-active {
   background-color: #666666; 
   color: rgba(255,255,255,0.95);
}

.ri-route-feed {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.route-card {
    background-color: whitesmoke;
    margin-right: 1.75rem;
    margin-bottom: 1.75rem;
    width: 22.25%;
    min-width: 200px;
}

.route-content {
    display: flex;
    margin: 0.5rem 1rem;
    flex-flow: column;
    justify-content: flex-start;
}

.route-content p {
    font-size: 0.75rem;
    padding-top: 0.75rem;
}

.route-title {
    margin: 0.5rem 0rem;
    font-weight: bold;
}

.route-map-embed {
    min-height: 100px;
}

.route-map {
    width: 100%;
    height: 200px;
}