.login-form-container {
    background-image: image-url('shane-rounce-03cHOSwUXqs-unsplash.jpg');
    background-size: cover;
    height: 100vh;
}

.login-form-box {
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 7%;
}

.login-form {
    width: 300px;
    height: 325px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0.75);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.added-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-error {
    text-decoration: none;
    background-color: red;
    z-index: 2;
    text-align: center;
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
    color: #fff;
    max-width: 1248px;
}

.signup-error {
    color: red;
    background-color: rgba(0,0,0,0.75);
    font-size: 0.7rem;
    text-align: center;
}

.login-input {
    padding: 10px 16px;
    border: 1px solid lightgray;
    width: 300px;
    box-sizing: border-box;
    border-radius: 4px;
    color: #CCC;
}

.login-input:focus {
    background-color: $lightest-gray;
    color: $text-black;
}

.login-input::placeholder {
  color: #CCC;
  font-size: 0.9em;
}

.demo-submit {
    width: 300px;
    height: 40px;
    background-color: white;
    text-align: center;
    color: rgba(252,82,0,1);
    border: 1px solid rgba(252,82,0,1);
    font-weight: bold;
    font-size: 0.9em;
    border-radius: 4px;

    &:hover {
        background-color: $lightest-gray;
    }
}

.session-submit {
    width: 300px;
    height: 40px;
    background-color: rgba(252,82,0,1);
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 4px;

    &:hover {
        background-color: orangered;
    }
}

.login-form-message {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    line-height: 41px;
    text-align: center;
    padding: 20px 50px;
    width: 300px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

