.splash-container {
    height: 100vh;
    margin-top: 80px;
    margin-bottom: 80px;
    box-sizing: border-box;
}

.splash-box {
    margin: 0 auto;
    width: 70%;
}

.splash-message {
    font-weight: bold;
    font-size: 48px;
    color: $text-black;
    text-align: center;
    margin-bottom: 80px;
}

.splash-image {
    display: inline-block;
    width: 100%;
    max-width: 468px;
    margin: 0 auto;
}