.splash-container {
    height: 100vh;
    margin-top: 80px;
    margin-bottom: 80px;
    box-sizing: border-box;
}

.splash-box {
    margin: 0 auto;
    width: 75%;
}

.splash-message {
    font-weight: bold;
    font-size: 48px;
    color: $text-black;
    text-align: center;
    margin-bottom: 80px;
}

.splash-content {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

.splash-image {
    width: 100%;
    max-width: 468px;
}

.splash-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 64px;
    color: $text-black;
}

.splash-text p {
    font-size: 0.8rem;
    color: $gray;
}

.splash-text button {
    padding: 16px 50px;
    border: 1px solid lightgray;
    width: 300px;
    box-sizing: border-box;
    border-radius: 2px;

    &:hover {
        background-color: $lighter-gray;
        border: 1px solid $text-black;
    }
}

.broad-link {
    padding: 16px 50px;
    border: 1px solid lightgray;
    width: 300px;
    box-sizing: border-box;
    border-radius: 2px;

    &:hover {
        background-color: $lighter-gray;
        border: 1px solid $text-black;
    }
}

.blue-link {
    color: $link-blue;

    &:hover {
        text-decoration: underline;
    }
}
